.SectionGererUtilisateurGroupe {
    padding: 20px;
    margin: 0 auto;
    max-width: 90%;
}

.tableUtilisateurs {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px #000000;
}

.tableUtilisateurs th {
    padding: 12px 15px;
    background-color: #00695C;
    color: white;
    text-align: left;
    font-weight: bold;
}

.tableUtilisateurs td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

.tableUtilisateurs tr:hover {
    background-color: #e9ecef;
}

.form-modifier-role {
    display: flex;
    align-items: center;
    gap: 10px;
}

.select-role {
    padding: 8px 10%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.btn-modifier {
    padding: 8px 0px;
    background-color: #00695C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.btn-modifier:hover {
    background-color: #007864;
}

.form-expulser {
    text-align: center;
}

.btn-expulser {
    padding: 8px 12px;
    background-color: #a42a36;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.btn-expulser:hover {
    background-color: #c82333;
}
