* {
    padding : 0;
    margin : 0;
}

.mainContent {
    background-color: #f5f5f5;
    min-height: 65%;
}


/* ---------- CSS Affichage des groupes ---------- */

.TitreH2 {
    text-align: center;
    padding-top: 15px;
}

.lienAffichage {
    text-decoration: none;
    color : black;
    margin-right : auto;
}

.sectionAfficher {
    padding : 7px 15px;
    background-color: #f2f2f2;
    border : solid 1px black;
    border-radius: 5px;
    margin : 15px 10%;
    overflow: hidden;
    display : flex;
    flex : 2;
}

.sectionAfficher:hover {
    transition: 0.3s ease;
    box-shadow: 0 3px 6px #aaaaaa;
}

.lienDansGroupe {
    color : #000000;
    text-decoration: underline;
    padding : 2px 0px;
    display: block;
    text-align: right;
}


/* ----- CSS Affichage des informations de l'utilisateur ----- */

.tabEtLienUtilisateur {
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background-color: #f5f5f5; 
    border-radius: 8px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.tabInfoUtilisateur {
    width: 100%; 
    border-collapse: collapse;
    border : solid 1px #ddd;
}

.tabInfoUtilisateur th {
    text-align: left;
    background-color: #007864; 
    color: white; 
    padding: 10px;
}

.tabInfoUtilisateur td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tabEtLienUtilisateur a {
    display: inline-block; 
    margin-top: 15px; 
    color: #007864; 
    text-decoration: none; 
}

.tabEtLienUtilisateur a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .tabEtLienUtilisateur {
        padding: 15px;
        margin: 10px;
    }
        .tabInfoUtilisateur th, .tabInfoUtilisateur td {
        font-size: 14px;
    }
}


/* ------ Affichage des Notifications/Invitations ------ */

.lienAffichageNotif {
    text-decoration: none;
    color : black;
    margin-right : auto;
}

.sectionAfficherNotif {
    background-color: #f0f0f0;
    border : solid 1px black;
    border-radius: 5px;
    margin : 15px 10%;
    padding : 7px 15px;
    overflow: hidden;
    text-align: center;
}

.sectionAfficherNotif:hover {
    transition: 0.3s ease;
    box-shadow: 0 3px 6px #aaaaaa;
}

.sectionAfficherNotif a {
    color : #000000;
    margin-right: 15px;
    text-decoration: underline;
}



/* ------ Affichage des Notifications/Invitations ------ */

.lienAffichageTheme {
    text-decoration: none;
    color : black;
    margin-right : auto;
}

.sectionAfficherTheme {
    background-color: #f0f0f0;
    border : solid 1px black;
    border-radius: 5px;
    margin : 15px 10%;
    padding : 7px 15px;
    overflow: hidden;
}

.sectionAfficherTheme:hover {
    transition: 0.3s ease;
    box-shadow: 0 3px 6px #aaaaaa;
}

.sectionAfficherTheme a {
    color : #000000;
    margin-right: 15px;
    text-decoration: underline;
}


/* ------ Affichage des themes ------ */

.sectionAfficherProposition {
    background-color: #f0f0f0;
    border : solid 1px black;
    border-radius: 5px;
    margin : 15px 10%;
    padding : 7px 15px;
    overflow: hidden;
}

.sectionAfficherProposition:hover {
    transition: 0.3s ease;
    box-shadow: 0 3px 6px #aaaaaa;
}

.sectionAfficherProposition a {
    color : #ffffff;
    /*margin-right: 15px;*/
    text-decoration: none;
}

.btn-signalements {
    display: block;
    color : #ffffff;
    margin: 10px 30%;
    padding: 10px 15px;
    text-align: center;
    background-color: #00695C;
    border : solid 1px black;
    border-radius: 5px;
}

.btn-signalements:hover {
    background-color: #007864;
}


/* ALEXIS */
/* Style du popup */
.popup {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 90%;
    max-width: 400px; 
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.close {
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.btn-vote {
    display: block;
    color : #ffffff;
    
    padding: 10px 15px;
    text-align: center;
    background-color: #00695C;
    border : solid 1px black;
    border-radius: 5px;
}

.btn-vote:hover {
    background-color: #007864;
}


@media screen and (max-width: 600px) {
    .popup-content {
        width: 95%;
        max-width: 90%;
    }
    
    .close {
        font-size: 25px;
        top: 5px;
        right: 5px;
    }
}

.btn-retour, button {
    background-color: #00695C;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.btn-retour{
color: white;
border: none;
padding: 10px 20px;
text-decoration: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
width: 10%;
margin-left: 45%;
margin-bottom: 2px;
border-block: revert-layer;
border-block-color: black;
background-color: darkslategray;}

.btn-retour:hover, button:hover {
    background-color: #007864;
}

a.btn-retour {
    width: 70%;
    margin-left: 0;
}



#voteChart {
    width: 30%;   
    height: 30%;
    max-width: 500px; 
    margin: 0 auto; 
}

