.footer {
    background-color: #00695C; 
    color: white;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    border-top-right-radius : 10px;
    border-top-left-radius : 10px;
    height: auto;
}

.footer-container {
    background-color: #00695C;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.footerAPropos {
    background-color: #00695C;
    flex: 1;
    padding-right: 30px;
}

.footerAPropos h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.footerAPropos p {
    font-size: 1rem;
    line-height: 1.6;
    color: #bdc3c7;
}

.footer-links {
    background-color: #00695C;
    flex: 1;
    padding-right: 30px;
}

.footer-links h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 1rem;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #3498db;
}

.footer-social {
    background-color: #00695C;
    flex: 1;
}

.footer-social h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icon {
    color: #ecf0f1;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #007864;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-about, .footer-links, .footer-social {
        flex: none;
        margin-bottom: 20px;
        padding: 0;
    }
}
